<div class="blog_main">
    <div class="container d-flex justify-content-center pt-5 pb-5">
      
    
                <div class="col-10" *ngIf="course">
                    <div class="col-10" *ngIf="course">
                        <img src="assets/images/{{course.image.imagePath}}" alt="{{course.image.imageAlt}}" style="max-width: 100%;">
                    </div>
                    <h2>{{course.nameCourse}}</h2>
                    <h3>Price: {{course.price}}$</h3>
                    <p>description: <b>{{course.description}}</b></p>
                    <p>If you want to appy for this course, please contact us.</p> 
                </div>
                
      
  
       </div>
</div>
