 <!--banner start -->
 <div class="banner-main">
    <div class="container">
       <div id="main_slider" class="carousel slide" data-ride="carousel">  
       <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="titlepage-h1">
            <h1 class="bnner_title">Welcome To<br>
            <span style="color: #10b5fa">NGITCOURSES</span></h1>
            <p class="long_text">At NGITCOURSES, you get the skills and expertise to work with computers that you can apply and charge for right away. </p>
            </div>
            <div class="btn_main">
        </div>
    </div>
<div class="carousel-item">
        <div class="titlepage-h1">
           <h1 class="bnner_title">NGITCOURSES<br>
           <span style="color: #10b5fa">Large selection of courses</span></h1>
           <p class="long_text">Choose what you like,in addition to programming languages, there are courses in technical sciences and foreign languages</p>
        </div>
</div>
</div> 
     <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
    <a class="carousel-control-next" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-right"></i>
        </a>
</div>
</div>
</div>
<!--banner end -->
<!--services start -->
<div class="services_main">
    <div class="container">
        <div class="creative_taital">
            <h1 class="creative_text">About Us</h1>
            <p style="color: #050000; text-align: center;">NGITCOURSES is an international school for the most sought after IT professions, based in a quiet part of Belgrade. 

                It is an organizational part of the LINK group, founded in 1998. It works under the official authorization of the Cambridge International Exams Department and four leading IT companies, Microsoft, Adobe, Apple and Oracle. It was established under the activity code: 8559 (old activity code: 120190.02, 80420.01), activity name: Other education.
                
                Our wish for you is quite simple: to help you master IT skills that will help you fulfill your personal ambitions more easily. Make great money, too. Since studying at NGITCOURSES has an emphasis on mastering practical skills, we regularly invest in resources and knowledge that enable our students to become highly paid professionals, experts, whether it is programming, design, administration or IT management.</p>

        </div>
            <div class="section_service_2">
                <h1 class="service_text">Our Service</h1>
            </div>
            <div class="service_main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="written_text">
                                <div class="like_icon"><img src="../assets/images/like-icon.png"></div>
                                <h1 class="written_text">Written with Love</h1>
                                <p>Leading e-Learning technology is available that meets the training quality standards of a group of five leading world universities. As a result, you listen to lectures online, read materials, solve tests and assignments, work with professors and consultants, as if you were in a classroom. 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="written_text">
                                <div class="like_icon"><img src="../assets/images/fast-forword-icon.png"></div>
                                <h1 class="written_text">Fast Turnaround</h1>
                                <p>Many students from Serbia and surrounding countries, Montenegro, Bosnia and Herzegovina, Croatia, Macedonia have already completed their education at NGITCOURSES, online. Attendees from America, Switzerland, Sweden, Ireland, Austria, China, Poland, South Africa as well. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="written_text">
                                <div class="like_icon"><img src="../assets/images/design-icon.png"></div>
                                <h1 class="written_text">Up to Date</h1>
                                <p>Of course, every place in the classroom has a reserved laptop. Projectors and modern teaching tools are used for lectures. The classrooms are designed according to the standard of Cambridge University, with the aim of providing an atmosphere for easier learning. As students spend a lot of time at the computer, it is especially important to pay attention to proper posture. Take a look at important tips on  proper sitting and body position that you should not ignore. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="written_text">
                              <div class="like_icon"><img src="../assets/images/writing-icon.png"></div>
                                <h1 class="written_text">Premium Content</h1>
                                <p>And the first positive impression of the students who attend classes traditionally is the technical equipment of the classrooms at NGITCOURSES. Each student has individual access to licensed software. The value of the software used at NGITCOURSES, per student, is up to 7 thousand euros. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>	  
</div>
<!--services end -->